<header class="gds-spa-header">
    <div class="gds-spa-header__primary-nav">
        <div class="gds-spa-header__section">
            <img class="gds-spa-header__logo-image" src="https://c.gumgum.com/ads/com/gumgum/documentation/logos/logo_designsystem.svg" />
        </div>
    </div>
    <div class="gds-spa-header__secondary-nav">
        <div class="gds-spa-header__section">
            <div class="gds-form-group gds-form-group--sm">
                <select class="gds-form-group__select-input gds-form-group__select-input--sm" style="width: 80px;">
                    <option><%= versionNumber %></option>
                </select>
            </div>
        </div>
    </div>
</header>
