<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<title>Design System @<%= versionNumber %> Docs</title>
<meta name="description" content="Design System documentation, generated from source code">
<meta name="author" content="Myles O'Connor">
<link rel="stylesheet" href="https://ds.gumgum.com/stable/theme-blue.css">
<link rel="stylesheet" href="./css/styles.css">
