/* Custom scrollbars */
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background: rgba(172,172,172,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(172,172,172,0.7);
    border-radius: 0;
}

/* Anchors */
.anchor {
    display: block;
    position: relative;
    top: calc(-55px - 2rem);
    visibility: hidden;
}

/* Prism.js syntax-highlighted code blocks */
.gds-card pre[class*=language-] {
    margin: 0;
    border-radius: 0 0 2px 2px;
    font-size: 0.9rem;
    padding: 1.5rem;
    background: #292929;
}
