/* Custom scrollbars */
::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background: rgba(172,172,172,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(172,172,172,0.7);
    border-radius: 0;
}

/* Anchors */
.anchor {
    display: block;
    position: relative;
    top: calc(-55px - 1rem);
    visibility: hidden;
}

/* Prism.js syntax-highlighted code blocks */
.gds-card pre[class*=language-] {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.8rem;
    margin: 0;
    border-radius: 0 0 2px 2px;
    padding: 0.5rem 1.5rem 1.5rem;
    background: #292929;
    opacity: 0.15;
    transition: opacity 2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
