<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="-has-spa-header">
        <% include ../partials/header %>
        <main>
            <div class="gds-layout__container">
                <div class="gds-layout__row">
                    <!-- Sidebar -->
                    <aside>
                        <div class="gds-layout__column--lg-3 gds-layout__hidden-md-down">
                            <p><%= versionNumber %></p>
                            <p>Sidebar goes here</p>
                        </div>
                    </aside>

                    <!-- Themes section -->
                    <section>
                        <div class="gds-layout__column--lg-9 gds-layout__column--md-12">
                            <ul>
                                <% json.map((item) => { %>
                                    <li>
                                        <ul>
                                            <% item.tags.map((tag) => { %>
                                                <li><%= tag.tag %></li>
                                            <% }) %>
                                        </ul>
                                        <p><%= item.description %></p>
                                        <p><%= item.source %></p>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </section>

                    <!-- Subatomic section -->

                    <!-- Atoms section -->

                    <!-- Molecules section -->

                    <!-- Organisms section -->

                    <!-- Utilities section -->

                    <!-- Third-party section -->

                </div><!-- /row -->
            </div><!-- /container -->
        </main>
        <% include ../partials/footer %>
    </body>
</html>
