<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="-has-spa-header">
        <% include ../partials/header %>
        <main>
            <div class="sidebar">
                <p>Sidebar goes here</p>
            </div>
            <p>Welcome to templating using EJS</p>
        </main>
        <% include ../partials/footer %>
    </body>
</html>
